*{
    box-sizing: content-box;
    margin: 0;
    padding: 0;
}
html,body{
    overflow-x: hidden;
}
body{
    background-color: whitesmoke;

}


/****Nav bar*****/


#container{
    width: 100%;
    background-image: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.6)), url("./images/austin.jpg") ;   
    background-size: cover;
    background-repeat: no-repeat;
        

}
.navbar-header{
    width: 100%;
    box-sizing: border-box;
    margin: 0;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;

     
}

.nav-bar{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    width: 100%;
    padding-top: 20px;
}




.nav-bar-logo{
    display: flex;
    flex: 1;
    justify-content: flex-start;
    padding-left: 30px;
}

.nav-bar-logo h3{
    font-family: Roboto Mono, monospace;
    padding-top: 20px;
    color: white;
    padding-left: 10px;
    padding-top: 30px;
    font-size: 30px;

}
.nav-bar-logo span:hover{
    color: #f7df1e;
    transition-duration: 1s;
    font-size: 35px;
}




.nav-item{
    padding-top: 20px;
    margin-left:50%;
}
.nav-item li{
    display: inline-flex;
    flex-direction: row;
    padding: 15px ;
    align-content: right;
    font-size: 20px;
}

.nav-item ul li a{
    text-decoration: none;
    color: white;
    font-family: Roboto Mono, monospace;

}

.nav-item ul li a:hover{
    color: #f7df1e;
    transition-duration: 1s;
    font-size: 25px;
   
}




/*Section 1 banner*/



.container1-item1{
    margin-top: 5%;
    margin-bottom: 2%;
    margin-left: 30px;

}

.container1-item1 .p1{
    font-family: Roboto Mono, monospace;
    font-weight: bold;
    font-size: 52px;
    text-align: left;
    color: white;
    margin-top: 9%;


}


.container1-item1 .p2{
    font-family: Roboto Mono, monospace;
    font-size: 15px;
    text-align: left;
    color: white;
    margin-top: 35px;



}


.container1-item2{
    margin-top: 10px;
    margin-left: 30px;
    margin-bottom: 20px;
}


.container1-item2-btn{
    border: 1px solid  #f7df1e;
    border-radius: 30px;
    background-color: #f7df1e;
    color: black;
    padding: 12px 20px 12px 20px;
    font-family: Roboto Mono, monospace;
    margin-top: 20px;
    margin-bottom: 10px;


}

.container1-item2-btn:hover{
    box-shadow: 0px 0px 5px #f7df1e;
    
    
}

.container1-item2-btn2{
    border: 1px solid  white;
    border-radius: 30px;
    background-color: transparent;
    color: white;
    padding: 12px 20px 12px 20px;
    font-family: Roboto Mono, monospace;
    margin-top: 20px;
    margin-bottom: 10px;

}

.container1-item2-btn2:hover{
    box-shadow: 0px 0px 5px whitesmoke;


}

/********Sigup form**********/
.forms-SL{
    display: flex;
    flex-direction: row;
    margin-left: 20%;
    width: 80%;
    

}
.forms-SL .text1{
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(./images/walkator.jpg) ;     background-position: center;
    background-size: cover;
    margin-right: 20px;
    width: 30%;


    
    
}
.forms-SL h3{
    font-family: Roboto Mono, monospace;

}

.forms-SL .text1 h3{
    width: 0%;
    text-align: center;
    color: whitesmoke;
    padding: 30%;
    font-family: Roboto Mono, monospace;

}

#signup-form p{
    margin-top: 20px ;
    font-family: Roboto Mono, monospace;

}



input{
    padding: 8px 80px 8px 3px;
    border-radius: 2px;
    border: 1.5px solid black;
}
input:hover{
    border: 1px solid #f7df1e;
    transition-duration: 0.5s;
}
::placeholder{
    font-family: Roboto Mono, monospace;

}

#sign-up{
    padding: 9px 40px 9px 40px;
    background-color: black;
    color: whitesmoke;
    border-radius: 4px;
    border: 1px solid black;
    font-family: Roboto Mono, monospace;
    margin-left: 40%;

}
#sign-up:hover{
    border: 1px solid #f7df1e;
    transition-duration: 0.5s;
}












/********End of Sigup form**********/


/********Login form**********/
/********End of Login form**********/












































/**Label***/
.label{
    width: 10%;
    border: 2px solid black;
    font-family: Roboto Mono, monospace;
    padding: 5px;


}
.label:hover{
    border: 2px solid #f7df1e;
    transition-duration: 0.5s;

}























/*****Courses (Card-group)**********/
.card-group{
    width: 100%;
    margin-top: 10px;
    display: flex;
    flex-direction: row;
    justify-content: center;

}



.card{
    width: 20%;
    border: none;
    border-radius: 4px;
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(./images/walkator.jpg) ;     background-position: center;
    background-size: cover;
    margin: 4%;
    

}
.card:hover{
    padding: 10px;
    border: 2px solid #f7df1e;
    border-radius: 7px;
    transition-duration: 0.5s;
    
    
}

.card .duration{
    text-align: right;
    padding-top: 10px;
    padding-right: 9px;
    font-family: Roboto Mono, monospace;
    color: whitesmoke;
}
.card .duration:hover{
    color: #f7df1e;
    transition-duration: 3s;
}

.card img{
    margin-left: 39%;
    margin-top: 20px;
}

.card .lj {
    text-align: center;
    padding-top: 30px;
    padding-left: 10px;
    font-family: Lato, sans-serif;
    color: whitesmoke;



}

.card .det1 {
    text-align: center;
    padding-top: 30px;
    padding-left: 10px;
    color: whitesmoke;


}

.card button{
    font-family: Roboto Mono, monospace;
    padding: 10px;
    margin-left: 35%;
    margin-top: 10%;
    color: white;
    background: black;
    border-radius: 4px;
    border: none;

}

.card button:hover{
    border: 2px solid #f7df1e;
}

/******Card2*******/




.card2{
    width: 20%;
    border: none;
    border-radius: 4px;
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(./images/walkator.jpg) ;     background-position: center;
    background-size: cover;
    margin: 4%;
    

}
.card2:hover{
    padding: 10px;
    border: 2px solid #f7df1e;
    border-radius: 7px;
    transition-duration: 0.5s;
    
    
}

.card2 .duration{
    text-align: right;
    padding-top: 10px;
    padding-right: 9px;
    font-family: Roboto Mono, monospace;
    color: whitesmoke;
}
.card2 .duration:hover{
    color: #f7df1e;
    transition-duration: 3s;
}

.card2 img{
    margin-left: 39%;
    margin-top: 20px;
}

.card2 .lj {
    text-align: center;
    padding-top: 30px;
    padding-left: 10px;
    font-family: Lato, sans-serif;
    color: whitesmoke;



}

.card2 .det1 {
    text-align: center;
    padding-top: 30px;
    padding-left: 10px;
    color: whitesmoke;


}

.card2 button{
    font-family: Roboto Mono, monospace;
    padding: 10px;
    margin-left: 35%;
    margin-top: 10%;
    color: white;
    background: black;
    border-radius: 4px;
    border: none;

}

.card2 button:hover{
    border: 2px solid #f7df1e;
}

/*****card3****/




.card3{
    width: 20%;
    border: none;
    border-radius: 4px;
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(./images/walkator.jpg) ;     background-position: center;
    background-size: cover;
    margin: 4%;
    

}
.card3:hover{
    padding: 5px;
    border: 2px solid #f7df1e;
    border-radius: 7px;
    transition-duration: 0.5s;
    
    
}

.card3 .duration{
    text-align: right;
    padding-top: 10px;
    padding-right: 9px;
    font-family: Roboto Mono, monospace;
    color: whitesmoke;
}
.card3 .duration:hover{
    color: #f7df1e;
    transition-duration: 3s;
}

.card3 img{
    margin-left: 39%;
    margin-top: 20px;
}

.card3 .lj {
    text-align: center;
    padding-top: 30px;
    padding-left: 10px;
    font-family: Lato, sans-serif;
    color: whitesmoke;



}

.card3 .det1 {
    text-align: center;
    padding-top: 30px;
    padding-left: 10px;
    color: whitesmoke;


}

.card3 button{
    font-family: Roboto Mono, monospace;
    padding: 10px;
    margin-left: 35%;
    margin-top: 10%;
    color: white;
    background: black;
    border-radius: 4px;
    border: none;

}

.card3 button:hover{
    border: 2px solid #f7df1e;
}




/*****End of Courses**********/

















































