*{
    box-sizing: content-box;
    margin: 0;
    padding: 0;
}
html,body{
    overflow-x: hidden;
}
body{
    background-color: whitesmoke;

}


/****Nav bar*****/


#container{
    width: 100%;
    background-image: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.6)), url("./images/austin.jpg") ;   
    background-size: cover;
    background-repeat: no-repeat;
        

}
.navbar-header{
    width: 100%;
    box-sizing: border-box;
    margin: 0;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;

     
}

.nav-bar{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    width: 100%;
    padding-top: 20px;
}




.nav-bar-logo{
    display: flex;
    flex: 1;
    justify-content: flex-start;
    padding-left: 30px;
}

.nav-bar-logo h3{
    font-family: Roboto Mono, monospace;
    padding-top: 20px;
    color: white;
    padding-left: 10px;
    padding-top: 30px;
    font-size: 30px;

}
.nav-bar-logo span:hover{
    color: #f7df1e;
    transition-duration: 1s;
    font-size: 35px;
}




.nav-item{
    padding-top: 20px;
    margin-left:50%;
}
.nav-item li{
    display: inline-flex;
    flex-direction: row;
    padding: 15px ;
    align-content: right;
    font-size: 20px;
}

.nav-item ul li a{
    text-decoration: none;
    color: white;
    font-family: Roboto Mono, monospace;

}

.nav-item ul li a:hover{
    color: #f7df1e;
    transition-duration: 1s;
    font-size: 25px;
   
}




/*Section 1 banner*/



.container1-item1{
    margin-top: 5%;
    margin-bottom: 5%;
    margin-left: 30px;

}

.container1-item1 .p1{
    font-family: Roboto Mono, monospace;
    font-weight: bold;
    font-size: 52px;
    text-align: left;
    color: white;
    margin-top: 9%;


}


.container1-item1 .p2{
    font-family: Roboto Mono, monospace;
    font-size: 15px;
    text-align: left;
    color: white;
    margin-top: 35px;



}


.container1-item2{
    margin-top: 10px;
    margin-left: 30px;
    margin-bottom: 20px;
}


.container1-item2-btn{
    border: 1px solid  #f7df1e;
    border-radius: 30px;
    background-color: #f7df1e;
    color: black;
    padding: 12px 20px 12px 20px;
    font-family: Roboto Mono, monospace;
    margin-top: 20px;
    margin-bottom: 10px;


}

.container1-item2-btn:hover{
    box-shadow: 0px 0px 5px #f7df1e;
    
    
}

.container1-item2-btn2{
    border: 1px solid  white;
    border-radius: 30px;
    background-color: transparent;
    color: white;
    padding: 12px 20px 12px 20px;
    font-family: Roboto Mono, monospace;
    margin-top: 20px;
    margin-bottom: 10px;

}

.container1-item2-btn2:hover{
    box-shadow: 0px 0px 5px whitesmoke;


}




















































