.top-nav{
    background-color: #f1f1f1;
    display: flex;
    flex-direction: row;
    width: 100%;
    padding: 0px;
    margin-top: -10px;
    margin-left: -10px;

}
.logo{
    display: flex;
    margin-left: 10px;
    width: 50%;
    font-family: Roboto Mono, monospace;

}
.logo img{
    width: 8%;
    margin-right: 20px ;
}

.top-menu li{
    display: inline-flex;
    padding-right: 30px;
}


.top-menu li a{
    text-decoration: none;
    font-family: Roboto Mono,monospace;
    color: black;
}

.top-menu li a:hover{
    color: #f7df1e;
}









.side-nav{
    background-color: #073857;
   height: 100%;
   width: 4%;
    position: fixed;
    padding: 10px;
    margin-left: -10px;
    margin-top: 1px;
   
}
.side-nav h3{
    font-family: Roboto Mono, monospace;
    color: whitesmoke;
    text-align: center;
    padding-bottom: 90%;
    font-size: 16px;
}

.menu img{
    width: 80%;
    margin-left: 10px;
    margin-top: 50px;
}


.home img{
    width: 80%;
    margin-left: 8px;
    
}

.courses img{
    width: 80%;
    margin-left: 15px;

}

.logout img{
    width: 80%;
    margin-left: 4px;

}








.card-title{
    margin-left: 5%;
    font-family: Roboto Mono, monospace;
}





.test-cards{
    margin-left: 7%;
    margin-top: 2%;
    display: flex;
    flex-direction: row;


}

.js-card{
    background-color: #f7df1e;
    width: 20%;
    font-family: Roboto Mono, monospace;
    font-weight: bold;
    padding: 5px;
    margin-right: 2%;
    

    
}
.js-card img{
    width: 30%;
    margin-left: 30%;
}

#quiz{
    padding: 10px;
    background-color: black;
    color: whitesmoke;
    border: 1px solid black;
    border-radius: 4px;
    margin-left: 23%;
    margin-top: 5px;
    font-family: Roboto Mono, monospace;

}

#quiz:hover{
    border: 1px solid whitesmoke;
}


.html-card{
    background-color: black;
    width: 20%;
    font-family: Roboto Mono, monospace;
    font-weight: bold;
    padding: 5px;
    margin-right: 2%;
    color: whitesmoke;

    
}
.html-card img{
    width: 30%;
    margin-left: 30%;

}

#quiz1{
    padding: 10px;
    background-color: #dd4b25;
    color: whitesmoke;
    border: 1px solid black;
    border-radius: 4px;
    margin-left: 23%;
    margin-top: 5px;
    font-family: Roboto Mono, monospace;

}

#quiz1:hover{
    border: 1px solid whitesmoke;
}



.py-card{
    background-color: #0bbad4;
    width: 20%;
    font-family: Roboto Mono, monospace;
    font-weight: bold;
    padding: 5px;
    margin-left: 1%;

    
}
.py-card img{
    width: 30%;
    margin-left: 30%;

}

#quiz2{
    padding: 10px;
    background-color: #fed444;
    color: whitesmoke;
    border: 1px solid #3775a6;
    border-radius: 4px;
    margin-left: 23%;
    margin-top: 5px;
    font-family: Roboto Mono, monospace;

}

#quiz2:hover{
    border: 1px solid whitesmoke;
}
