html body{
    overflow-x: hidden;
}


.top-nav{
    background-color: #f1f1f1;
    display: flex;
    flex-direction: row;
    width: 110%;
    padding: 0px;
    margin-top: -10px;
    margin-left: -10px;

}
.logo{
    display: flex;
    margin-left: 10px;
    width: 50%;
    font-family: Roboto Mono, monospace;

}
.logo img{
    width: 8%;
    margin-right: 20px ;
}

.top-menu li{
    display: inline-flex;
    padding-right: 30px;
}


.top-menu li a{
    text-decoration: none;
    font-family: Roboto Mono,monospace;
    color: black;
}

.top-menu li a:hover{
    color: #f7df1e;
}









.side-nav{
    background-color: #073857;
   height: 100%;
   width: 4%;
    position: fixed;
    padding: 10px;
    margin-left: -10px;
    margin-top: 1px;
   
}
.side-nav h3{
    font-family: Roboto Mono, monospace;
    color: whitesmoke;
    text-align: center;
    padding-bottom: 90%;
    font-size: 16px;
}



.home{
    margin-top: 70%;
}

.home img{
    width: 80%;
    margin-left: 8px;
    
}

.courses img{
    width: 80%;
    margin-left: 15px;

}

.logout img{
    width: 80%;
    margin-left: 4px;

}


.side-nav a{
    text-decoration: none;
}

















.card-title{
    margin-left: 5%;
    font-family: Roboto Mono, monospace;
}





.t-cards{
    margin-top: 2%;
    margin-left: 7%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;


}

.js-card{
    background-color: #f7df1e;
    width: 20%;
    height: 70%;
    font-family: Roboto Mono, monospace;
    font-weight: bold;
    padding: 5px;
    

    
}
.js-card img{
    width: 30%;
    margin-left: 30%;
}

#quiz{
    padding: 10px;
    background-color: black;
    color: whitesmoke;
    border: 1px solid black;
    border-radius: 4px;
    margin-left: 23%;
    margin-top: 5px;
    margin-bottom: 5px;
    font-family: Roboto Mono, monospace;

}

#quiz:hover{
    border: 1px solid whitesmoke;
}
















.results{
    margin-left: 45%;
    background-color: #f1f1f1;
    width: 29%;
    padding-top: 1px;
    padding-left: 20px;
    
}
.results h3{
    font-family: monospace;
    font-size: 20px;
    margin-left: 10px;
}
.results hr{
    color: black;
}


.total-results{
    display: flex;
    flex-direction: row;
}


.vr{
    border-left: 1px solid #9a9a9a ;
    height: 180px;
    margin-left: 28%;
}


